name: Build
on: push

jobs:
  windows:
    name: Build
    runs-on: windows-2019
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.7'
          architecture: 'x64'

      - name: Check Python install
        run: |
          which python
          python --version
          python -c "import struct; print(struct.calcsize('P') * 8)"
          which pip
          pip --version

      - name: Install Python dependencies
        run: |
          python -m pip install -U pip setuptools wheel
          python -m pip install -U cachetools pefile

      - name: Build
        run: |
          python setup.py bdist_wheel --python-tag cp37 --plat-name win_amd64

      - name: Prepare for deployment
        run: |
          dir dist
          for /r %%f in (dist/*) do @set wheelname=%%~nxf
          echo %wheelname%
          for /F "tokens=2 delims='" %%a in ('findstr __version__ py2exe\__init__.py') do @set ver=%%a
          echo %ver%

      - name: Deploy
        uses: actions/upload-artifact@v2
        with:
          name: ${{ env.wheelname }}
          path: |
            dist/${{ env.wheelname }}
